.jumbotron {
  background-image:url('http://i.imgur.com/yL6aK0d.png');
  height: 500px;
}

.jumbotron h1 {
	color: white;
	text-align: right;
}

.container h1 {
	color: white;
	text-align: right;
}

.jumbotron h2 {
	color: white;
	text-align: right;
}

#intro {
	margin-top: 150px;
}

h2 {
	font-size: 35px;
	color: white;
	font-family: Helvetica;
}

h3{
	font-size: 25px;
	color: green;
	font-family: Helvetica;
}

p {
	font-size: 14px;
	color: black;
	font-family: Georgia;
}

.history {
  border: 3px solid green;
  width: 100%;
}

.traditions {
  border: 3px solid red;
  width: 100%;
}

.education {
  border: 3px solid black;
  width: 100%;
}

