.jumbotron {
  background-image:url('http://i.imgur.com/yL6aK0d.png');
  height: 500px;
}

.row {
	height: 500px;
	margin-top: 100px;
}

#h1 {
	color: white;
}

.jumbotron h1 {
	color: white;
	text-align: right;
}

.container h1 {
	color: white;
	text-align: right;
}

.jumbotron h2 {
	color: white;
	text-align: right;
}

#intro {
	margin-top: 325px;
}

h2 {
	font-size: 35px;
	color: white;
	font-family: Helvetica;
	text-align: center;
}

h3{
	font-size: 25px;
	color: green;
	font-family: Helvetica;
	text-align: center;
}

p {
	font-size: 14px;
	color: black;
	font-family: Georgia;
	text-align: center;
}

.history {
  border: 3px solid green;
  width: 100%;
}

.traditions {
  border: 3px solid red;
  width: 100%;
}

.education {
  border: 3px solid black;
  width: 100%;
}

#bottom {
	height: 25px;
	background-color: gray;

}

#bottom p {
	font-family: Helvetica;
	font-size: 10px;
	color: white;
	vertical-align: center;
	text-align: center;
}

